<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.BirdgetypeMapper">
  <resultMap id="BaseResultMap" type="com.woniu.domain.Birdgetype">
    <id column="bridgeTypeId" jdbcType="INTEGER" property="bridgetypeid" />
    <result column="birdgeTypeName" jdbcType="VARCHAR" property="birdgetypename" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bridgeTypeId, birdgeTypeName
  </sql>
  <select id="selectByExample" parameterType="com.woniu.domain.BirdgetypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from birdgetype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from birdgetype
    where bridgeTypeId = #{bridgetypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from birdgetype
    where bridgeTypeId = #{bridgetypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.BirdgetypeExample">
    delete from birdgetype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Birdgetype">
    insert into birdgetype (bridgeTypeId, birdgeTypeName)
    values (#{bridgetypeid,jdbcType=INTEGER}, #{birdgetypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Birdgetype">
    insert into birdgetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bridgetypeid != null">
        bridgeTypeId,
      </if>
      <if test="birdgetypename != null">
        birdgeTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bridgetypeid != null">
        #{bridgetypeid,jdbcType=INTEGER},
      </if>
      <if test="birdgetypename != null">
        #{birdgetypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.BirdgetypeExample" resultType="java.lang.Long">
    select count(*) from birdgetype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update birdgetype
    <set>
      <if test="record.bridgetypeid != null">
        bridgeTypeId = #{record.bridgetypeid,jdbcType=INTEGER},
      </if>
      <if test="record.birdgetypename != null">
        birdgeTypeName = #{record.birdgetypename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update birdgetype
    set bridgeTypeId = #{record.bridgetypeid,jdbcType=INTEGER},
      birdgeTypeName = #{record.birdgetypename,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Birdgetype">
    update birdgetype
    <set>
      <if test="birdgetypename != null">
        birdgeTypeName = #{birdgetypename,jdbcType=VARCHAR},
      </if>
    </set>
    where bridgeTypeId = #{bridgetypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Birdgetype">
    update birdgetype
    set birdgeTypeName = #{birdgetypename,jdbcType=VARCHAR}
    where bridgeTypeId = #{bridgetypeid,jdbcType=INTEGER}
  </update>
</mapper>