<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.MaintainMapper">
  <resultMap id="BaseResultMap" type="com.woniu.domain.Maintain">
    <id column="maintainId" jdbcType="INTEGER" property="maintainid" />
    <result column="accidentId" jdbcType="INTEGER" property="accidentid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="maintainBeginTime" jdbcType="DATE" property="maintainbegintime" />
    <result column="maintainEndTime" jdbcType="DATE" property="maintainendtime" />
    <result column="maintainState" jdbcType="VARCHAR" property="maintainstate" />
    <result column="maintainCost" jdbcType="DOUBLE" property="maintaincost" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    maintainId, accidentId, userId, maintainBeginTime, maintainEndTime, maintainState, 
    maintainCost
  </sql>
  <select id="selectByExample" parameterType="com.woniu.domain.MaintainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from maintain
    where maintainId = #{maintainid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from maintain
    where maintainId = #{maintainid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.MaintainExample">
    delete from maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Maintain">
    insert into maintain (maintainId, accidentId, userId, 
      maintainBeginTime, maintainEndTime, maintainState, 
      maintainCost)
    values (#{maintainid,jdbcType=INTEGER}, #{accidentid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{maintainbegintime,jdbcType=DATE}, #{maintainendtime,jdbcType=DATE}, #{maintainstate,jdbcType=VARCHAR}, 
      #{maintaincost,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Maintain">
    insert into maintain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maintainid != null">
        maintainId,
      </if>
      <if test="accidentid != null">
        accidentId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="maintainbegintime != null">
        maintainBeginTime,
      </if>
      <if test="maintainendtime != null">
        maintainEndTime,
      </if>
      <if test="maintainstate != null">
        maintainState,
      </if>
      <if test="maintaincost != null">
        maintainCost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maintainid != null">
        #{maintainid,jdbcType=INTEGER},
      </if>
      <if test="accidentid != null">
        #{accidentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="maintainbegintime != null">
        #{maintainbegintime,jdbcType=DATE},
      </if>
      <if test="maintainendtime != null">
        #{maintainendtime,jdbcType=DATE},
      </if>
      <if test="maintainstate != null">
        #{maintainstate,jdbcType=VARCHAR},
      </if>
      <if test="maintaincost != null">
        #{maintaincost,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.MaintainExample" resultType="java.lang.Long">
    select count(*) from maintain
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update maintain
    <set>
      <if test="record.maintainid != null">
        maintainId = #{record.maintainid,jdbcType=INTEGER},
      </if>
      <if test="record.accidentid != null">
        accidentId = #{record.accidentid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.maintainbegintime != null">
        maintainBeginTime = #{record.maintainbegintime,jdbcType=DATE},
      </if>
      <if test="record.maintainendtime != null">
        maintainEndTime = #{record.maintainendtime,jdbcType=DATE},
      </if>
      <if test="record.maintainstate != null">
        maintainState = #{record.maintainstate,jdbcType=VARCHAR},
      </if>
      <if test="record.maintaincost != null">
        maintainCost = #{record.maintaincost,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update maintain
    set maintainId = #{record.maintainid,jdbcType=INTEGER},
      accidentId = #{record.accidentid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      maintainBeginTime = #{record.maintainbegintime,jdbcType=DATE},
      maintainEndTime = #{record.maintainendtime,jdbcType=DATE},
      maintainState = #{record.maintainstate,jdbcType=VARCHAR},
      maintainCost = #{record.maintaincost,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Maintain">
    update maintain
    <set>
      <if test="accidentid != null">
        accidentId = #{accidentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="maintainbegintime != null">
        maintainBeginTime = #{maintainbegintime,jdbcType=DATE},
      </if>
      <if test="maintainendtime != null">
        maintainEndTime = #{maintainendtime,jdbcType=DATE},
      </if>
      <if test="maintainstate != null">
        maintainState = #{maintainstate,jdbcType=VARCHAR},
      </if>
      <if test="maintaincost != null">
        maintainCost = #{maintaincost,jdbcType=DOUBLE},
      </if>
    </set>
    where maintainId = #{maintainid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Maintain">
    update maintain
    set accidentId = #{accidentid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      maintainBeginTime = #{maintainbegintime,jdbcType=DATE},
      maintainEndTime = #{maintainendtime,jdbcType=DATE},
      maintainState = #{maintainstate,jdbcType=VARCHAR},
      maintainCost = #{maintaincost,jdbcType=DOUBLE}
    where maintainId = #{maintainid,jdbcType=INTEGER}
  </update>
</mapper>